body {
  font-size: 16px;
  font-family: sans-serif;
  color: #393939;
}
* {
  box-sizing: border-box;
}

.Page {
  max-width: 420px;
  margin: 0 auto;
}

.Page__head {
}
.Signboard {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  background: #9EE323;
}
.Signboard__head {
  width: 88px;
  height: 88px;
  margin: 0 24px 0 0;
  border-radius: 16px;
  border: 1px solid #fff;
  overflow: hidden;
}
.Signboard__head > img {
  width: 100%;
}
.Signboard__body {
  margin: 0;
  line-height: 1.2;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.Share {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 8px 0;
}
.Share > * {
  margin-right: 8px;
}

.Page__body {
}

.Footer {
  background: #F8F8F8;
  padding: 16px;
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 12px;
}

.Content {
  margin: 8px auto 32px;
}
.Content__head {
  margin: 0;
  padding: 16px;
  font-size: 18px;
  border-top: 3px dotted #80C900;
}
.Content__body {
  padding: 8px;
  background: #f8f8f8;
}

.User {
  display: flex;
  margin: 8px 0 16px 0;
}
.User--rep {
  flex-direction: row-reverse;
  margin: 16px 0px 16px 64px;
}

.User__head {
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  margin: 0 8px;
}

.Description {
  padding: 8px 16px;
  font-size: 13px;
  line-height: 18px;
}
.Description__head {
  font-size: 15px;
  margin: 0 0 8px;
  color: #555;
}
.Description__body > p {
  margin: 0 auto 8px;
}
.Description__body img {
  width: 100%;
  height: auto;
}

.avatar {
  background-color: #f0f0f0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.avatar--lobo {
  border-radius: 4px;
}

.User__body {
  flex-grow: 1;
}
.Voice {}
.Voice__head {
  line-height: 1;
  font-weight: bold;
  margin: 0 0 4px 2px;
  font-size: 14px;
}
.Voice__body {}

.baloon {
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background: #F8F8F8;
  font-size: 14px;
  line-height: 18px;
}
.baloon::before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #F8F8F8;
}
.User--rep .baloon::before {
  left: auto;
  right: -4px;
  transform: rotate(180deg);
}
.link {
  color: #80C900;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#linkicon {
  width: 32px;
  border-radius: 6px;
}
.note {
  display: block;
  font-size: 92%;
  color: #555;
  margin: 8px auto;
}

/* Util class */
.hidden {
  visibility: hidden;
  height:0;
  width: 0;
  margin: 0;
  padding: 0;
}